.target {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  background-color: #000;
  height: 131px;
  margin-bottom: 10px;
}

.cardsr {
  padding: 15px 25px;
  cursor: pointer;
  margin-bottom: 15px;

  width: 100px;
}

.targetempty {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  background-color: green;
  height: 131px;
}
