.footer-app {
  bottom: 0 !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  z-index: 0 !important;
  height: 50px;
  background-color: orange !important;
}
