#classicformpage .view {
  height: 100vh;
}

#classicformpage .card {
  background-color: rgba(126, 123, 215, 0.2);
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label {
  color: #fff !important;
}
