.btndownload {
  margin-left: 5%;
  position: flex !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  button {
    color: green;
    height: 30px;
    background-color: transparent;
    border-color: green;
    &:hover {
      color: white;
      background-color: green;
    }
  }
  button#red {
    color: red;
    border-color: red;
    &:hover {
      color: white;
      background-color: red;
    }
  }
}
