body {
  height: auto !important;
}

#root{
  background-image: url(./../../../assets/images/bg4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.forgot {
  height: 68vh;
  .forgot-password {
    margin-top: 20%;

    &__theme-bg {
      background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
      padding-top: 100px;
      padding-bottom: 50px;
      text-align: center;
    }
    &__R {
      padding: 25px 50px 10px 50px;
      input {
        height: 40px;
        font-size: 18px;
      }
      p,
      h2 {
        text-align: center;
        color: #111;
        font-family: Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      h2 {
        font-weight: 500;
        font-size: 26px;
      }
      p {
        padding-bottom: 20px;
      }
      &__btn {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
          height: 45px;
          border-color: #04a9f5;
          border-radius: 5px;
          span {
            font-size: 16px;
          }
        }
        margin-bottom: 15px;
      }
      &__endP {
        bottom: 0;
        position: relative;
        color: #6c757d;
        & > a {
          color: #111;
          font-weight: 600;
        }
      }
    }
  }
}

.ant-card-body {
  padding: 0;
}
