@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

#conthome {
  background-image: url(./../../../assets/images/signals/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .content {
    height: 86.5vh;
    text-align: center;
    #dintext,
    .typed-cursor {
      font-size: 80px;
      display: inline;
      color: rgb(4, 13, 143);
      text-shadow: 1px 1px 1px rgb(75, 74, 74);
      font-family: "Roboto Slab", serif;
    }
  }
}
