#root{
  background-image: url(./../../../assets/images/about/b14a75cb-0a5f-4a00-9e63-754fc9249c28.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.contenido {
  min-height: 80vh;
  img {
    width: 250px;
    height: 250px;
  }
  #testimonials {
    margin-top: 60px;
    margin-bottom: 60.5px;
    .texto-informativo {
      padding-top: 15px;
      text-align: center;
    }
    .texto-informativo,
    h2,
    h4,
    .btn-floating {
      color: white;
    }
    h6 {
      color: red;
    }
  }
}
.fa.fa-chevron-right,
.fa.fa-chevron-left {
  color: red;
}
@media (max-width: 740px) {
  html,
  body,
  header,
  #intro-section {
    height: 100vh;
  }
}

.rgba-gradient {
  background: rgba(35, 7, 77, 0.6);
  background: linear-gradient(
    to right,
    rgba(204, 83, 51, 0.6),
    rgba(35, 7, 77, 0.6)
  );
}

.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  background: linear-gradient(
    to bottom,
    rgba(0, 47, 75, 0.5) 0%,
    rgba(220, 66, 37, 0.5) 100%
  );
}
