.link-navbar-icon {
  color: black;
  &:hover {
    color: white;
  }
}
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.makeStyles-dropdownItem-195.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
  &:hover {
    color: white;
  }
}
