p {
    text-align: justify;
}
footer{
    height: 30px;
    bottom: 0px;
}
.footer-copyright {
    width: 100%;
    .container-fluid {
       
        a {
            color: gold;
            b {
                color: red;
            }
        }
    }
}

.bgfooter {
    background-color: rgba(0, 0, 0, 0.410);
}