p {
  text-align: justify;
}
.footercolor {
  height: 30px;
  bottom: 0px;
  width: 100%;
  position: absolute;
  margin: 0;
}
.footer-copyright {
  width: 100%;
  .container-fluid {
    a {
      color: gold;
      b {
        color: red;
      }
    }
  }
}

.bgfooter {
  background-color: rgba(0, 0, 0, 0.41);
}
