@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

#cont{
  background: url(./../../assets/images/signals/01.jpg);
  background-size: 100% 100%;
  .content{
    min-height: 79vh;
    max-height: 1079px;
    text-align: center;
    #dintext, .typed-cursor{
      font-size: 80px;
      display: inline;
      color: white;
      text-shadow: 1px 1px 1px rgb(75, 74, 74);
      font-family: 'Roboto Slab', serif;
    }
  }

}
